.cc-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 500;
  background: #fff;
  & nav {
    box-shadow: none;
  	line-height: 100px;
  	height:100px;
  	background-color: #fff;
    & .brand-logo {
      margin-top: 15px;
    }
  	& a {
  		color: #666;
  	}
  }
}


.logo-intro {
	position: fixed;
  	z-index: 9999;
  	background: #fff;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	& .img {
  		  height: 200px;
		  background-size: cover;
		  background-repeat: no-repeat;
		  background-position: center;
		  width: 400px;
		  margin: 0 auto;
  	}
}
